*{box-sizing: border-box;}
			
			a:link{
					color: #EEE8AA;
								}

			a:visited{
					color: #DAA520;
								}
								
			body{margin: 0;}
			
			#topo{
					margin: 0;
					padding: 0;
					width: 100%;
					height: 75px;
					text-align: center;
			
			
			}
			
			#logo{
					margin: -17px 0 0 0;
					padding: 0 0 0 120px;									
					float: left;
			
			
			}
			
			#telefone_topo{
							font-size:21px;
							font-weight:900;
							font-family:'Arimo', sans-serif;
							
			
			
			
			}
			
			#endereco_topo{
						font-weight:700; 
						font-size:16px;
						font-family:'Arimo', sans-serif;
			
			
			
			}
			
			
			#endereco_logo{
							float: right;
							margin: 0 0 0 0;
							padding: 15px 120px 0 0;
			
			}
			
			
			#menu{
					margin: 0;
					padding: 1px 0 0 40%;
					width: 100%;
					
					background-color: #363636;
					font-size: 20px;
					font-family: 'Arial Narrow', sans-serif;
					
					
					
			}
			
			li{
				display: inline;
				color: #ffd700;
				margin: 0 30px 0 0;
				}
				
			.carousel input {
							  position: absolute;
							  left: -10000px;
							}
							
							
			.carousel {
						  width: 100%;
						  height: 100%;
						}
			.carousel__stage {
						  overflow: hidden;
						  font-size: 0;
						  white-space: nowrap;
						  width: 100%;
						  height: 100%;
						  transition: text-indent 600ms;
						  position: relative;
						}
			.carousel__item {
						  display: inline-block;
						  width: 100%;
						  height: 100%;
						  overflow: hidden;
						  text-indent: 0;
						  opacity: 0.6;
						  text-align: center;
						}
			.carousel__image {
						  height: 100%;
						  width: auto;
						  display: inline-block;
						}
				
			.carousel__next,
			.carousel__prev {
							  display: none;
							  position: absolute;
							  top: 20%;
							  color: #363636;
							  background: rgba(255, 255, 255, 0.15);
							  z-index: 1;
							  font-size: 70px;
							  font-weight: 900;
							  font-family: impact, fantasy;
							  padding: 20px;
							  cursor: pointer;
							}
			.carousel__prev {
							  left: 0;
							}
			.carousel__prev:after {
									  content: ' << ';
									  display: inline-block;
									}
			.carousel__next {
								right: 0;
							}
			.carousel__next:after {
									 content: ' >> ';
									 display: inline-block;
									}
			
			#carousel1:checked ~ .carousel__stage .carousel__item:nth-child(1),
			#carousel2:checked ~ .carousel__stage .carousel__item:nth-child(2) {
			  opacity: 1;
			}
			
			
			#carousel1:checked ~ .carousel__stage {
													  text-indent: 0;
													}
			#carousel2:checked ~ .carousel__stage {
													  text-indent: -100%;
													}
			#carousel3:checked ~ .carousel__stage {
													  text-indent: -200%;
													}
			#carousel4:checked ~ .carousel__stage {
													  text-indent: -300%;
													}

			#carousel1:checked ~ .carousel__stage .carousel__item:nth-child(1) .carousel__prev,
			#carousel1:checked ~ .carousel__stage .carousel__item:nth-child(1) .carousel__next,
			#carousel2:checked ~ .carousel__stage .carousel__item:nth-child(2) .carousel__prev {
			  display: block;
			}

					 
					 
			
			#nosssos_veiculos{
					margin: 0;
					padding: 10px 0 0 10%;
					width: 100%;
					color: #ffd700;
					background-color: #363636;
					font-size: 28px;
					font-family: 'Arial Narrow', sans-serif;
					
			}
			
			
			
			#vitrine{
					margin: 0;
					padding: 0;
					width: 100%;
					height: 500px;
			
			}
			
			
	
			.rodape_fixo{
							margin: 0 0 0 70%;
							padding: 20px;
							width: 30%;
							height: 140px;							
							background: rgba(0, 0, 0, 0.8);
							color: #ffd700;
							font-weight: 700;
							position: fixed;
	                        bottom: 0;
							border-radius: 80px;
							font-size: 30px;
							text-align: center;
							
							
			}
			
			.rodape{
							margin: 0;
							padding: 1px 250px 1px 30px;
							width: 100%;
							height: 40px;						
							background-color: #363636;
							color: #fff;
							font-weight: 100;
						    font-size: 15px;
							
							
							
							
							
							
			}
			
			
			#texto_2_colunas_rodape{
										column-count:3;
										margin: 0 0 0 0;
										padding: 10px 25% 0px 20px;
										width: 100%;
										background-color: #363636;
										color: #fff;
										font-size: 15px;
										
			}
			
			#foto_rodape{
							margin: 0;
							padding: 0;
							width: 100%;
							background-color: #363636;
							
							
			}
			
			#uno{
					
				 
				 
			}
			

			
			#whats{font-size: 10px;}